.artistcomponent {
    display: flex;
    width: 280px;
    height: 280px;
    padding: 10px 38px 35px 38px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
    background: none;

    .artist-button {
        margin: 0 auto;
        background: none;
        border: none;
    }

    .form {
        display: grid;
    }

    .contents {
        margin: 33px 17px 100px 17px;
    }

    .image {
        width: 180px;
        height: 180px;
        flex-shrink: 0;
        border-radius: 100%;
        z-index: 5;
        border: 2px solid transparent;
    }

    .span {
        display: flex;
        width: 240px;
        height: 40px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #000000;
        font-style: normal;
        line-height: 16px;
        font-size: 23px;

    }

    &.selected .image  {
        border: 3px solid #89CFF0; 
        .active{
            border: 3px solid #89CFF0; 
         }
    }

   

    &.selected .span {
        color: #89CFF0; 
    }
}
