.edit-info{
    display: flex;
    width: 98px;
    height: 29px;
    padding: 14.5px 220px 15.5px 220px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    flex-shrink: 0;
    flex-wrap: wrap;

    .my-main-btn{
        border-radius: 10px;
        border: 1px solid #000;
        background: #FFF;
    }
}