.qna-edit{
    display: flex;
    margin: 0 auto;

    .form{
        width: 910px;
        height: 412px;
        flex-shrink: 0;
        border: 1px solid #D7D7D7;
        margin-top: 130px;
    }
}

