/* FestivalCalendar */
#calendar-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard Variable";
    max-width: 100%;
}

#calendar-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#calendar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

#calendar-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar-header,
#calendar-body,
#calendar-table {
    border-collapse: collapse;
    width: 100%;
}

#calendar-current-date {
    margin-right: 20px;
    font-size: 25px;
}

.weekday {
    width: calc(100% / 7);
    height: 60px;
    font-size: 15px;
    text-align: left;
}

#calendar-previous-btn,
#calendar-next-btn {
    width: 65px;
    height: 35px;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#calendar-previous-btn img,
#calendar-next-btn img {
    width: 30%;
    height: auto;
}

#calendar-previous-btn:active {
    background-color: #89CFF0;
    color: white;
}

#calendar-next-btn:active {
    background-color: #89CFF0;
    color: white;
}

#calendar-previous-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#calendar-next-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* CalendarItem */
.calendar-item.first-column {
    border-left: none;
}

.calendar-item.last-column {
    border-right: none;
}

.calendar-item {
    height: 250px;
    width: calc(100% / 7);
    vertical-align: top;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.calendar-date {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 15px;
    padding-block: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.prev-month .calendar-date,
.next-month .calendar-date {
    color: #b0b0b0;
}

.today {
    color: #89CFF0;
}

.festival {
    display: flex;
    height: 20px;
    margin: 1px 0;
    min-width: 100%;
    padding-block: 3px;
    font-size: 15px;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.festival.university-festival {
    background-color: #FBAFBD;
}

.festival.general-festival {
    background-color: #B2EAFF;
}

@media(max-width: 767px) {
    #calendar-header {
        justify-content: center;
    }

    .festival {
        font-size: px;
    }
}