#calendar-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#calendar-container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

#calendar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#calendar-header-content {
    display: flex;
    align-items: center;
}

#calendar-current-date {
    font-size: 25px;
}

#calendar-previous-btn,
#calendar-next-btn {
    width: 58.6px;
    height: 35px;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#calendar-previous-btn {
    margin-left: 10px;
    border-right: none;
}

#calendar-previous-btn img,
#calendar-next-btn img {
    width: 30%;
    height: auto;
}

#calendar-previous-btn:active, #calendar-next-btn:active {
    background-color: #89CFF0;
    color: white;
}

#calendar-previous-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#calendar-next-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#calendar-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.calendar-date {
    font-size: 15px;
    font-weight: 300;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    line-height: 30px;
}

.prev-month .calendar-date,
.next-month .calendar-date {
    color: #b0b0b0;
}

.today {
    color: #B2EAFF;
}

.weekday {
    height: 70px;
    font-weight: 300;
    text-align: left;
}

.festival {
    display: flex;
    align-items: center;
    margin-top: 1px;
    font-weight: 250;
    font-size: 15px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.university-festival {
    background-color: #FBAFBD;
}

.general-festival {
    background-color: #B2EAFF;
}

.calendar-item {
    position: relative;
    vertical-align: top;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.calendar-item.first-column {
    border-left: none;
}

.calendar-item.last-column {
    border-right: none;
}

/* 모바일(430px ~ 1023px) */
@media (min-width: 300px) and (max-width: 1023px) {
    #calendar-page {
        font-size: 30px;
    }

    #calendar-container {
        width: 100%;
        padding: 10px;
    }

    #calendar-current-date {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 40%);
        margin: 0;
        font-size: 40px;
        font-weight: 300;
    }

    #calendar-previous-btn,
    #calendar-next-btn {
        width: 90px;
        height: 90px;
        font-size: 20px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    #calendar-previous-btn img,
    #calendar-next-btn img {
        width: 50%;
        height: auto;
    }

    #calendar-previous-btn {
        position: absolute;
        top: 50%;
        left: calc(50% - 240px);
        transform: translateY(-0%);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    #calendar-next-btn {
        position: absolute;
        top: 50%;
        right: calc(50% - 240px);
        transform: translateY(-0%);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #calendar-previous-btn img,
    #calendar-next-btn img {
        width: 100%;
        height: auto;
    }

    #calendar-previous-btn {
        margin-left: 0px;
    }

    .calendar-date {
        font-size: 25px;
        font-weight: 300;
        height: 40px;
    }

    #calendar-header {
        justify-content: center;
        height: 90px;
        display: block;
        text-align: center;
    }

    #calendar-header-content {
        position: relative;
    }

    .weekday {
        height: 110px;
        font-weight: 300;
    }

    .festival {
        font-weight: 300;      
        font-size: 20px;
    }
}