/* 연동 로그인 아이콘 컴포넌트 CSS */

.authlogo-form{
    display: flex;
    padding: 0px 95px;
    justify-content: center;
}

.authlogo-container{
    display: flex;
    padding: 0px 10px;
    align-items: flex-start;
    gap: 20px;
}

/* 연동 로그인 아이콘 css */
.kakao-login-logo {
    width: 21px;
    height: 20px;
    margin: 14px;
}

.google-login-logo {
    width: 48px;
    height: 48px;
}

.naver-login-logo {
    width: 25px;
    height: 25px;
    margin: 11px;
}

/* 로고 배경 */
.kakao-logo-background{
    width: 48px;
    height: 48px;
    background: #FEDD35;
    border-radius: 100px;
}

.naver-logo-background{
    width: 48px;
    height: 48px;
    background: #1EC800;
    border-radius: 100px;
}

.google-logo-background {
    width: 48px;
    height: 48px;
}