
.login-id-input-area{
    width: 400px;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    background: white;
}
.login-pw-input-area{
    width: 400px;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid #DDDDDD;
    background: white;
}



.login-id-input{
    width: 318.4px;
    height: 20px;
    margin-top: 16px;
    float: right;
    margin-right: 5%;
    border: none;
}
.login-id-input:focus {
    outline: none;
}

.login-pw-input{
    width: 318.4px;
    height: 20px;
    margin-top: 16px;
    float: right;
    margin-right: 5%;
    border: none;
}
.login-pw-input:focus {
    outline: none;
}


.login-input-icon{
    width: 24px;
    height: 24px;
    padding: 15px;
    
}

.login-input-form{
    background-color: white;
    width: 400px;
    height: 110px;
    display: grid;
}