.artist-info-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-description-container {
    display: flex;
    width: 52%;
    height: 73px;
    margin-top: 10px;
}

.artist-description {
    font-size: 20px;
    font-weight: 400;
}

.artist-list-wrapper {
    margin-top: 10px;
    display: flex;
}

.artist-list {
    display: flex;
}

.artist-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 55.8px;
}

.artist-img {
    border-radius: 100%;
    width: 76px;
    height: 76px;
}

.artist-name {
    font-size: 12px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
}

.carousel-control-prev {
    margin-right: 55.8px;
}

.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
    cursor: pointer;
}

.artistInfo-btn-image {
    width: 100%;
    height: auto;
}