.qna-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 200px;
}

.qna-buttons {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.exclude-secret-label {
    margin-right: 18px;
}

.qna-filter-button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    color: #6C6C6C;
}

.qna-filter-button.active {
    background-color: #89CFF0;
    color: white;
}

.qna-filter-button.active .qna-filter-count {
    color: white;
}

.qna-filter-count {
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #6C6C6C;
}

.qna-checkbox-container {
    display: flex;
    align-items: center;
}

.secret-checkbox {
    margin-right: 5px;
}

.qna-btn {
    background-color: #89CFF0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.qna-table {
    width: 90%;
    max-width: 1000px;
    border-collapse: collapse;
    color: #1A1A1A;
}

.qna-table-head {
    background-color: #f2f2f2;
}

.qna-table-header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.qna-table-body .qna-table-cell {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    height: 30px;
    font-size: 14px;
}

#qna-title {
    text-align: left;
    padding-left: 40px;
}

.secret-title {
    color: #A7A3A3;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.pagination-button-move {
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 26px;
    color: #999;
}

.pagination-button:disabled {
    background-color: #89CFF0;
    color: white;
    cursor: default;
}

.Festival-contents-container {
    margin-bottom: 200px;
}

.qna-table-body .qna-table-cell.clickable-title {
    cursor: pointer;
}

.qna-content-wrapper {
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    animation: slideDown 0.3s ease-out;
}

.qna-content {
    padding: 20px 75px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 1000px;
        opacity: 1;
    }
}