.talk_area_wrapper {
    position: relative;
    display: inline-block;
    .talk_area {
        overflow-y: scroll;
    }
    
    .arrow-up {
        position: absolute;
        top: 10px;
        right: -3px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #ddd;
        z-index: 101;
    }
    
    .arrow-up::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -15px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
        z-index: 2;
    }
    
    .box_content {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* 스크롤 바의 색상 */
    border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
}
