.content-list-container {
    width: 430px;
    height: 460px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.content-list-container:hover::-webkit-scrollbar {
    width: 6px;
}

.content-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}x

.content-list-container::-webkit-scrollbar-track {
    background: transparent;
}

.content-list-container::-webkit-scrollbar-button {
    display: none;
}

.content-list-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.content-list-container::-webkit-scrollbar-track {
    background: transparent;
}