:root {
    --dashboard-background-color : #E2E2E2;
}

.adminDashBoard {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.adminDashBoard main {
    display: flex;
    flex-direction: column;
    background-color: var(--dashboard-background-color);
    width: 100%;
}