@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* 색 */
  --app-primary-color: #89CFF0;
  --inquiries-category-account-color: #342727;
}

/* 전체적인 폰트를 프리텐다드로 설정. 영어는 따로 설정해야함 */
* {
  font-family: "Pretendard Variable", sans-serif;
}

/**
  * 전역적으로 적용할 CSS 를 담는 파일입니다.
  ex) 폰트나 기본값 설정 (input의 글씨체, body의 폰트 등)

  * 폰트 적용은 여기서 가져가시면 됩니다.

  영어 폰트 Noto Sans
  font-family: "Noto Sans", sans-serif;
  */
html body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}