.list-page{
    display: grid;

    .look{
        display: flex;
        width: 128px;
        height: 42px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #000000;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        margin: 0 auto;
        margin-top: 130px;
        margin-bottom: 63px;
    }

    .listmain{
        display: grid;
        margin: 0 auto;
    }

    .dropdown-form{
        display: inline-flex;
        margin-top: 18px;
        gap: 10px;
    }
}

#lanking,
#status,
#locality {
    display: flex;
    width: 119.86px;
    height: 39px;
    padding: 8.25px 17px;
    justify-content: center;
    align-items: center;
    gap: 6.8px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
}