.register-container{
    display: flex;
    padding: 0px 710px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.register-form {
    display: flex;
    width: 500px;
    min-height: 800px;
    padding: 75px 0px 391px 0px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}

.register-contents{
    display: flex;
    padding-bottom: 70px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border: 1px solid saddlebrown;
}


.naver-signup,
.kakao-signup,
.google-signup{
    display: flex;
    height: 40px;
    padding: 0.8px 23.97px 0.8px 23.98px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.naver-signup{
    background-color: #2DB400;
}