.agreement-container{
    margin-top: 5%;
}

.agreement-contents{
    display: flex;
}

.agreement-checkbox{
    width: 5px;
    height: 5px;
    background: none;
    border:none;
}

.register-agreement-checkbox{
    display: none;
}