.register-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.register-input-write {
    display: flex;
    width: 500px;
    height: auto; /* 높이를 자동으로 설정하여 내용을 기준으로 맞춤 */
    flex-shrink: 0;
    margin-top: 15px;
    flex-direction: column;
}

.register-input-row {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center; 
    border-bottom: 0.8px solid #000000;
}

.register-type-text{
    width: 80px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-right: 1%;
}

.register-input-label{
    
    margin-left: 5%;
    float: right;
    right: 0;
}

.register-input-classname {
    width: 350px;
    padding: 10px 0px 10.8px 5px;
    border: none;
    right: 0;
}

.register-input-classname:focus {
    outline: none;
}

.register-eyebtn {
    background: none;
    border: none;
    right: 0;
}

.register-pw-off-span,
.register-pw-on-span {
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register-pw-off-span {
    color: #666666;
}

.register-pw-on-span {
    color: #000000;
}
