.register-write-container{
    display: flex;
    height: 1041px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.register-write-form{
    width: 500px;
    height: 1000px;
    flex-shrink: 0;
}

.input-with-btn {
    position:relative;
    display: flex;
    align-items: center;
}

.register-check-btn {
    position: absolute;
    display: flex;
    height: 30px;
    min-width: 70px;
    padding: 5.7px 10.8px 6.7px 10.8px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    color: #000000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    right: 0;
    margin-top: 3%;
}

.register-check-btn:hover{
    background: #000000;
    color: #FFFFFF;
}

.register-id-input,
.register-pw-input,
.register-pwcheck-input,
.register-name-input,
.register-address-input,
.register-detail-address,
.register-email-input {
    padding: 10px 0px 10.8px 5px;
    border: none;
    width: 340px;
}


.register-id-input:focus,
.register-pw-input:focus,
.register-pwcheck-input:focus,
.register-name-input:focus,
.register-address-input:focus,
.register-detail-address:focus,
.register-email-input:focus {
    outline: none;
}

.email-with-dropdown{
    position:relative;
    display: flex;
    align-items: center;
}

#email-dropdown{

    position: absolute;
    right: 0;
    margin-top: 3%;
    background: #FAFAFA;
    color: #666;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 6px;
}

#email-dropdown:focus {
    outline: none;
}

/* This is generally supported */
.email-option:hover {
    background: #FAFAFA;
    color: #666;
}

/* Custom styling for individual options is very limited */
.email-option:hover {
    background: #89CFF0; /* This will not work in most browsers */
}