.register-write-container{
    display: flex;
    height: 1041px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.register-write-form{
    width: 500px;
    height: 1000px;
    flex-shrink: 0;
}