.agreement-container{
    display: flex;
    min-height: 28px;
    gap: 5px;
    align-self: stretch;
}

.agreement-contents{
    display: flex;
}

.agreement-checkbox{
    width: 5px;
    height: 5px;
    background: none;
    border:none;
}

.register-agreement-checkbox{
    display: none;
}

.agreement-text-span{
    margin-left: 2%;
    font-size: 13px;
}

.agreement-checkbox-image {
    width: 16px;
    height: 16px;
}