.id-find{
    width: 670px;
    height: 50px;
    flex-shrink: 0;
    margin-bottom: 1rem;



    .handler-btn{
        background: none;
        border: none;
    }

    .find-radio-image{
        width: 15px;
        height: 15px;
        flex-shrink: 0; 
    }

    
    .find-radio{
        display: none;
    }

    .toggle-text{
        color: rgba(0, 0, 0, 0.60);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .toggle-content {
        margin-top: 1rem; 
        display: block; 
    }
}