/* 로그인 폼 CSS */

.login-form {
    background-color: white;
    display : flex;
    height: 100vh;
    justify-content: center;
    margin-top: 68px;
}

.login-container {
    height: 584px;
}

.login-contents {
    background-color: white;
    display: flex;
    width: 400px;
    height: 584px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


/* 로그인 Youth 로고 CSS */
.login-logo-box {
    display: flex;
    width: 173px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    padding: 36px 114px 0 114px;
}

.login-youth {
    color: #89CFF0;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 로그인 체크박스 CSS */
.login-maintain-container {
    color: gray;
    font-size: 13px;
    font-weight: 100px;
    font-style: normal;
    font-weight: 100px;
    line-height: 19.5px;
}

.login-maintain-checkbox {
    width: 11px;
    height: 11px;
}

.login-id-input,
.login-pw-input {
    display: flex;
    width: 318.4px;
    height: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border:none;
}
.login-id-input{
    border-radius: 12px 12px 0px 0px;
}

.login-id-input:focus{
    outline: none;
}

/* 정보찾기, 회원가입 영역 CSS */
.login-userfind-register a {
    text-decoration: none;
    color: #666;
    font-size: 13px;
    line-height: 19px;
}


.login-userfind-register a:nth-child(2)::before, .login-userfind-register a:nth-child(2)::after{
    content: "|";
    padding-inline: 12px;
    color: #DDDDDD;
}

.login-userfind-register{
    display: flex;
    margin-left: 76.46px;
    margin-right: 76.46px;
}

/* 로그인버튼 */
.login-btn{
    font-family: "Pretendard Variable", sans-serif;
    background-color: #89CFF0;
    color:white;
    border-radius: 12px;
    border: 1px solid #89CFF0;
    display: flex;
    width: 400px;
    height: 52px;
    padding: 17px 177.96px 17px 177.95px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}


/* 정보찾기, 회원가입 버튼 CSS */
.login-go-findid,
.login-go-findpw,
.login-go-register {
    width:90px;
    color:#666;
    font-style: normal;
    font-weight: 400;
    margin-left: 20%;
    margin-right: 20%;
    text-decoration: none;
}


.login-companyicons-area{
    display: flex;
    padding: 0px 98px;
    align-items: flex-start;
    gap: 20px;
}

/* 연동 아이콘 컴포넌트 CSS */
.login-kakaologo,
.login-naverlogo,
.login-googlelogo {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 14px 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100%;
}
.login-kakaologo{
    background-color: yellow;
}
.login-naverlogo{
    background-color: #1EC800;
}
.login-googlelogo{
    background-color: white;
    border:1px solid gainsboro;
}

.kakaologo{
    width: 21px;
    height: 20px;
}
.naverlogo,
.googlelogo{
    width: 25px;
    height: 25px;
}
