.dashboard-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px 30px;
    display: flex;
    flex-wrap: wrap;


    .chart {
        margin-top: 30px;
        width: 520px;
        height: 324px;

        h3 {
            background-color: white;
            margin-block: 0px;
            padding: 10px 20px;
            padding-bottom: 5px;
            font-size: 16px;
        }
    }

}