:root {
  --dashboard-header-background-color : #FFF;
  --dashboard-header-subtitle-color : #187ED6;
  --dashboard-header-title-color : #222;
}

.adminDashBoard .header span{
  line-height: 28px;
  height: 50px;
}

 .adminDashBoard .header {
  padding: 10px 30px;
  background-color: var(--dashboard-header-background-color);
}

.adminDashBoard .header .subTitle{
  color: var(--dashboard-header-subtitle-color);
  font-size: 12px;

}

.adminDashBoard .header .title{
  color: var(--dashboard-header-title-color);
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid var(--dashboard-background-color);
}

