.inquiries-detail main{
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: row;
}


.inquiries-detail .info-card{
  width: 265px;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.info-card li {
  margin-inline: 20px;
}

.info-card label {
  font-size: 12px;
  color: #808080;
}

.info-card span {
  display: block;
  font-size: 16px;
}

.content .top-header {
  margin-block: 20px 10px;
  min-width: 300px;
  min-height: 24px;
  display: flex;

  color: #808080;
}


.content .top-header .subtitle {
    font-size: 12px;
}

.content {
  background-color: white;
  gap: 10px;
}
/* profile area */
.profile {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile span:nth-child(1){
  font-weight: 600;
  font-size: 16px;
}


.profile span:nth-child(2){
  font-size: 12px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.inquiries-content{
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
}

.inquiries-content .title {
  font-weight: 600;
  font-size: 16px;
}

.inquiries-content .content {
  font-size: 12px;
  line-height: 21px;
}