.profile-input-field {
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 12px;

    label {
        min-width: 80px;
    }

    input {
        box-sizing: border-box;
        padding-inline: 10px;
        min-width: 360px;
        font-size: 16px;
        border: 1px solid #D9D9D9;
        outline: none;
        height: 30px;
    }
}