.inquiries-table {
    font-size: 16px;
}

.inquiries-table tr:nth-child(1) {
    border-bottom: 1px solid black;
}

.inquiries-table th {
    text-align: center;
}


.inquiries-table .row-flex {
    cursor: pointer;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    max-width: 1500px;
    margin: auto;
    gap: 50px;
}

.inquiries-table .col {
    text-align: center;
    min-width: 100px;
    flex: 1 1 100px;
    font-size: 16px;
}

/* 제목 영역 사이즈 더 주기 */
.col.title {
    line-height: 20px;
    min-width: 100px;
    flex: 4 4 400px;
    font-size: 16px;
    align-items: start;
}

.col.category span {
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 27px;
    font-weight: 700;
}

.col-festival span {
    background-color: var(--app-primary-color);
}

.col-account span {
    background-color: var(--inquiries-category-account-color);
}

.col.status {
    color: #6A3737;
}

.pagination {
    /* 커서 깜빡임 금지 */
    position: relative;
    caret-color: transparent;
    padding: 0px;
    align-self: center;
    display: flex;
    cursor: pointer;
    list-style-type: none;
    gap: 10px;

    /* 드래그 금지 */
    user-select: none;
    /* 텍스트 선택 비활성화 */
    -webkit-user-drag: none;
    /* 드래그 비활성화 (웹킷 브라우저용) */
}


.pagination li {
    text-align: center;
    padding: 0px;
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #5F6368;
}

.pagination li.current-page {
    font-weight: 700;
}


.pagination li:nth-child(3)::before,
.pagination li:nth-child(4)::before {
    color: #DBDBDB;
    width: 24px;
    height: 24px;
    position: absolute;
    content: "|";
    transform: translateX(-100%);
}


.pagination .ico {
    color: #5F6368;
}

.pagination .disable {
    pointer-events: none;
    cursor: not-allowed;
    color: #D8D8D8;
}