.list-tabmenu{
    display: grid;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    height: 51px;  
    
    .tabform{
        width: 500px;
    }

    .listcontent{
        margin: 0 auto;
        margin-top: 114px;
        gap: 50px;
    }

    .listsubmenu {
        margin: 0 auto;
        display: inline-flex;
        width: 70px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        margin-left: 5%;
      }

      .listsubmenu:hover{
        border-bottom: 2px solid #89CFF0;
        color: #89CFF0;
      }
    
      .focused {
        border-bottom: 2px solid #89CFF0;
        color: #89CFF0;
        
      }
    
      &.desc {
        width: 670px;
        height: 258px;
        flex-shrink: 0;
      }

}
