.postercomponent{
    width: 240px;
    height: 500px;
    flex-shrink: 0;

    .form{
        display: grid;
    }

    .contents{
        margin: 33px 17px 141px 17px;
        position: relative;

    }

    .image{
        display: block;
        width: 240px;
        height: 320px;
        flex-shrink: 0;
        border-radius: 8px;
        position: relative;
    }

    .overlay {
        margin-top: 160px;
        position: absolute;
        width: 240px;
        height: 160px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.404) 100%);
        display: flex;
        align-items: flex-end;/* 텍스트를 아래쪽에 배치 */
        border-radius: 8px;
        top: 0;
        left: 0;
        
  
        .ranking-number {
            position: absolute;
            left: 20px;
            color: white;
            font-size: 52px;
            font-weight: bold;
            margin-bottom: 20px;
          }
      }
      
      .span-container {
        display: flex;  
        flex-direction: column; 
        margin-top: 10px;
            
            .span1, .span2 {
                color: #000000;
            }

            .span1 {
                flex: 1; 
                height: 50px;
                font-size: 17px;
                font-weight: 700;
                line-height: 25px; 
                
                align-items: flex-start;  
                justify-content:flex-start;
                margin-bottom: 15px;
            }
            
            .span2 {
                flex: 1; 
                font-size: 16px;
                font-weight: 400;
                line-height: 15px;   
                align-items: flex-start;
                justify-content:flex-start;
                margin-bottom: 10px;
            }
        }
}