.rank-container {

    width: 100%;
    align-items: center;
    justify-content: center;

    .rank-title-container {

      display: flex;
      align-items: center;
      justify-content: center;

        .rank-title {
            // font-family: 'Pretendard';
            font-size: 28px;
            font-weight: bold;
        }
    }
    
    .rank-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
        align-items: center;
        justify-content: center;

        .category-button {
            width: 97px;
            height: 44px;
            margin-left: 30px;
            font-size: 15px;
            font-weight: 500;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 30px;
        }

        .category-button.active {
          background-color: skyblue;
          color: white;
          border: none;
          border-radius: 30px;
        }

    }

    .rank-slider-container {
      .slider {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

}

.app {
    text-align: center;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  


  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .festival-card {
    min-width: 150px;
    height: 200px;
    margin: 0 5px;
    text-align: center;
  }
  
  .festival-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
 

  