.footer-footer {
    height: 220px;
    align-items: center;
    margin-bottom: 50px;
}

.ftop-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.fleft-container {
    /* padding-left: 100px; */
    padding-right: 150px;
}

.fbottom-container {
    height: 72px;
    width: 1340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fright-container {

}

.fyouth {
    font-size: 14px;
}

.ftop {
    color: #666666;
    font-size: 12px;
}

.fbottom {
    color: #1212127d;
    font-size: 12px;
    padding-left: 275px;
}