.register-find-user-footer {
    background-color: transparent;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.register-find-user-footer-text {
    font-size: 11px;
}