.loginAll {
    background-color: white;
    display : flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.loginContentsForm {
    background-color: gray;
    display: flex;
    width: 100%;
    height:700px;
    max-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
}

.loginLogoDiv {
    width: 173px;
    height: 60px;

}

.loginYouthLogo {
    color: #89CFF0;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}