.login-pw-input-area{
    width: 400px;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid #DDD;
    background: white;
}

.login-pw-input{
    width: 318.4px;
    margin-top: 16px;
    float: right;
    margin-right: 5%;
    border: none;
}