.navigate-bar {
    display: flex;
    width: 100%;
    min-width: 1024px;
    max-width: 1280px;
    aspect-ratio: 1920 / 55;
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    align-items: center;
    margin: 0 auto;
    
    .nlist-container {
        width: 130px;
        height: 41px;
        align-items: center;
        padding-left: 20px;

        .nnavi-button {
            font-family: 'Pretendard';
            background: none; /* 배경 제거 */
            border: none; /* 테두리 제거 */
            color:rgb(0, 0, 0);/* 텍스트 색상 설정 */
            font-size: 16px; /* 버튼 폰트 크기 설정 */
            font-weight: bold;
            padding: 10px 10px 11px 10px; 
            cursor: pointer; /* 마우스 커서 변경 */
            transition: background-color 0.3s ease, transform 0.3s ease;
            text-align: center;
        }

        .nnavi-button:hover {
            border-bottom: 2px solid #89CFF0;
        }

    }
}





